@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-released: #f20c3a;
    --color-mvp: #0c68f2;
    --color-development: #0cf249;
  }
  :root[class~='dark'] {
    --color-released: #f85778;
    --color-mvp: #5797f8;
    --color-development: #57f882;
  }

  body {
    @apply bg-primary text-secondary;
  }
  h1 {
    @apply text-5xl font-bold leading-normal;
  }
  h2 {
    @apply text-[2.5rem] font-bold leading-normal;
  }
  h3 {
    @apply text-[2.063rem] font-semibold leading-normal;
  }
  h4 {
    @apply text-[1.75rem] font-semibold leading-normal;
  }
  h5 {
    @apply text-[1.438rem] font-medium leading-normal;
  }
  h6 {
    @apply text-[1.188rem] leading-normal;
  }
  p {
    @apply text-base font-normal max-sm:text-lg leading-normal;
  }
  .small {
    @apply text-[0.813rem] leading-normal;
  }
}
